@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
    margin: 3em;
    background-color: #666;
    color: #fff;
}

.card {
    font-family: 'Reenie Beanie', cursive;
    font-size: 180%;
    background-color: #f3f3a4;
    color: #000;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,1);
    transition: all .4s;
    transform: rotate(-10deg);
}

.card-title {
    font-weight: bold;
    font-size: 32pt;
}

.card:hover,
.card:focus {
     box-shadow: 10px 10px 7px rgba(0,0,0,0.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,0.7);
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -o-transform: scale(1.25);
    position: relative;
    z-index: 5;
    cursor: pointer;
}

.btn-flotante {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    letter-spacing: 2px;
    background-color: steelblue;
    padding: 18px 30px;
    text-align: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all .3s ease;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    z-index: 99;
    cursor: pointer;
    text-decoration: none;
    width: 230px;
}

.btn-flotante:hover {
    transform: scale(1.1);
    color: #fff;
}

.modal {
    color: #000;
}